name: .NET CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore ./CiCdDemo/CiCdDemo.csproj

    - name: Build project
      run: dotnet build --no-restore ./CiCdDemo/CiCdDemo.csproj


    - name: Run tests
      run: dotnet test Lab05/CiCdDemo.Tests/CiCdDemo.Tests.csproj

    - name: Run code analysis (lint)
      run: dotnet format --verify-no-changes
